@charset "UTF-8";

/* 全体 */
html {
  overflow-x: hidden;
}

.scroll {
  overflow: hidden;
}

body {
  text-align: center;
  width: 100vw;
  background-color: #f4f4f4;
}

main {
  margin: 0 8px;

}
/* 画像を見るのaタグ */
.image-button {
  /* display: inline-flex; */
  text-align: end;
  display: block;
  border: solid 3px orange;
  max-width: 120px;
  width: 100px;
  margin-left: auto;
  padding: 5px;
  color: #000;
  display: flex;
}

/* modalのバツボタン */
.close_btn {
  /* display: block; */
  margin: 10px;
  margin-left: auto;
  /* position: absolute; */
  top: 30vw;
  right: 0;
  display: block;
    margin: 10px;
    margin-left: auto;
}

.modal.show{
  background-color: #ffffff;
}

.modal_pic1{
  box-shadow: 10px 10px 15px -10px;
}

.modal_p{
/* background-color: #f4f4f4; */
color: #000;
margin: 0 auto;
}

/* .modal,
.modal2,
.modal3,
.modal4 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
   width: 375px;
  width: 100%;
  height: 100%;
  background: #0180BE;
  justify-content: center;
  align-items: center;
}  */

.sankaku {
  margin-left: 0px;
    margin-right: 3vw
}

.image-button:hover {
  /* background-color: #0056b3; */
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal img {
  max-width: 80%;
  max-height: 80%;
}

.modal.show {
  display: flex;
}

.close-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #cc0000;
}



p {
  font-size: 12px;
}

.gazou {
  width: 100%;
}


.sen {
  display: block;
  height: 1px;
  width: 70vw;
  background: black;
  margin: 20px auto;
}

.ookime {
  font-size: 24px;
}

.hutozi {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0 20px;
}

h1 {
  /* width: 60vw;
  height: 10vh;
  padding-top: 3px;
  margin-bottom: 40px;
  font-size: 5vw;
  font-weight: 400;
  margin: 0 auto; */
  background: url(../image/waku.png) no-repeat bottom center/cover;
  /* padding-top: 20px; */
  /* padding: 20px 56px 0; */
  /* min-width: 220px; */
  width: 60vw;
  /* height: 40px; */
  font-size: 5vw;
  height: 7vw;
  margin: 0 auto 0 auto;
  text-align: center;
  /* display: block; */
  /* margin-top: 40px; */
  padding-top: 3px;
  margin-top: 40px;
  max-width: 400px;
}


/* ヘッダー */

header {
  /* max-width: 375px; */
  width: 100vw;
  height: 667px;
  background: url(../image/main.png) no-repeat bottom center/cover;
  /* margin-bottom: 40  px; */
  position: relative;
}


header p {
  color: #fff;
  /* animation: sinkansen 15s infinite linear;
  white-space: nowrap; */
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 5vw;
  width: 73vw;
  text-align: start;
  font-weight: bold;
}

.tukuba {
  font-size: 12px;

}

#rog {
  /* filter: brightness(0); */
  /* background-color: transparent; */
  /* position: absolute; */
  padding-top: 170px;
  max-width: 199px;
  width: 40vw;
  top: 30vh;
  left: 15vw;
  filter: drop-shadow(10px 5px 0px #000);
  /* animation: hanten 20s linear; */
}

/* メイン */
/* アトラクション */
.yohaku40 {
  margin: 0 40px;
}

.eigyoutime {
  font-weight: bold;
}

.haikei {
  background-color: rgba(108, 196, 216, 0.2);
  margin: 20px 0;
  padding: 20px 18px;
  text-align: start;
}



.yoko {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.yoko img {
  width: 36vw;
  min-width: 125px;

}

#naka {
  text-align: center;
}


/* グルメ */

.gourmet {
  margin-bottom: 40px;
}

.tanyao {
  text-align: end;
  display: block;
  border: solid 3px orange;
  width: 80px;
  margin-left: auto;
  padding: 5px;
  color: #000;
  display: flex;
}

.tanyao p {
  color: #000;
}

.sankaku {
  color: orange;
}

.yohaku {
  margin: 12px 0;
  text-align: start;
}

.gourmet .ookime {
  margin: 40px 0 8px;
}

#gurume {
  text-align: start;
}

/* ヒーリング */

.yohaku20 {
  margin: 0 20px;
}

.healing p {
  margin: 20px 0;
}

.pinhu {
  margin-bottom: 12px;
}

.healing .ookime {
  margin: 40px 0 20px;
}

.hasu {
  text-align: start;
}

#haba70 {
  width: 70vw;
  margin: 0 auto;
}

#marukame {
  position: absolute;
  top: 3vh;
  left: 5vw;
}


/* メイン */
/* フッター */

/* アニメーション */
/* body{
 animation: nizisanzi 5s infinite linear;
}

p {
  animation: danmaku 10s infinite;
}

img {
  animation: idou 1s infinite;
}  */
@keyframes nizisanzi {
  0% {
    background-image: linear-gradient(90deg, rgba(243, 196, 170, 1), rgba(228, 81, 154, 1) 50%, rgba(77, 84, 224, 1));
  }

  25% {
    background-image: linear-gradient(90deg, rgba(61, 200, 194, 1), rgba(61, 156, 194, 1) 50%, rgba(197, 125, 233, 1));
  }

  50% {
    background-image: linear-gradient(90deg, rgba(16, 190, 252, 1) 4%, rgba(129, 188, 243, 1) 13%, rgba(230, 177, 225, 1) 28%, rgba(250, 127, 229, 1) 49%, rgba(255, 125, 125, 1) 67%, rgba(247, 152, 102, 1) 78%, rgba(255, 212, 189, 1) 95%);
  }

  75% {
    background-image: linear-gradient(90deg, rgba(105, 234, 203, 1), rgba(215, 98, 252, 1) 67%, rgba(102, 84, 241, 1));
  }

  100% {
    background-image: linear-gradient(90deg, rgba(52, 59, 202, 1), rgba(162, 120, 182, 1) 50%, rgba(243, 196, 170, 1));
  }
}




@keyframes danmaku {
  0% {
    transform: translateX(1500px);
  }

  100% {
    transform: translateX(-1500px);
  }
}

@keyframes idou {
  10% {
    transform: translateX(100px)rotate(45deg);
  }

  50% {
    transform: translateX(-100px)rotate(-45deg);
  }

  100% {
    transform: translateX(100px);
  }

}

@keyframes sinkansen {
  0% {
    transform: translate(500px);
    /* color: red; */
  }

  /* 20% {
      color: blue;
    }

    40% {
      color: yellow;
    }

    60% {
      color: green;
    }

    80% {
      color: purple;
    }  */

  100% {
    transform: translate(-1100px);
    /* color: red; */
  }
}

@keyframes hanten {
  0% {
    filter: brightness(0);
  }

  100% {
    filter: brightness(100%);
  }

}

/* 
footer{
  position: relative;
} */

/* #kani {
  display: block;
  width: 100px;
  height: 100px;
  animation: oisiku 3s infinite linear;
  padding: 5px;
}

#ue {
  width: 100px;
  height: 100px;
  animation: mazuku 3s infinite linear;
  padding: 5px;
} */

#a {
  width: 100px;
  height: 100px;
  padding: 5px;
  animation: a1 3s infinite linear;
}

/* #b {
  width: 100px;
  height: 100px;
  padding: 5px;
  animation: b1 3s infinite linear;
}

#c {
  width: 100px;
  height: 100px;
  padding: 5px;
  animation: c1 3s infinite linear;
} */

#d {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: -180px;
  left: 35%;
}

/* @keyframes oisiku {
  0% {
    filter: brightness(1);
    transform: translateY(0);
  }

  20% {
    filter: brightness(100);
    transform: translateY(-10px);
  }

  40% {
    filter: brightness(1);
    transform: translateY(0);
  }

  60% {
    filter: brightness(1);
    transform: translateY(0);
  }

  80% {
    filter: brightness(1);
    transform: translateY(0);
  }

  100% {
    filter: brightness(1);
    transform: translateY(0);
  }
}

@keyframes mazuku {
  0% {
    filter: brightness(1);
    transform: translateY(0);
  }

  20% {
    filter: brightness(1);
    transform: translateY(0);
  }

  40% {
    filter: brightness(100);
    transform: translateY(-10px);
  }

  60% {
    filter: brightness(1);
    transform: translateY(0);
  }

  80% {
    filter: brightness(1);
    transform: translateY(0);
  }

  100% {
    filter: brightness(1);
    transform: translateY(0);
  }
} */

@keyframes a1 {
  0% {
    filter: brightness(1);
    transform: translateY(0);
  }

  20% {
    filter: brightness(1);
    transform: translateY(0);
  }

  40% {
    filter: brightness(1);
    transform: translateY(0);
  }

  60% {
    filter: brightness(100);
    transform: translateY(-10px);
  }

  80% {
    filter: brightness(1);
    transform: translateY(0);
  }

  100% {
    filter: brightness(1);
    transform: translateY(0);
  }
}

/* @keyframes b1 {
  0% {
    filter: brightness(1);
    transform: translateY(0);
  }

  20% {
    filter: brightness(1);
    transform: translateY(0);
  }

  40% {
    filter: brightness(1);
    transform: translateY(0);
  }

  60% {
    filter: brightness(1);
    transform: translateY(0);
  }

  80% {
    filter: brightness(100);
    transform: translateY(-10px);
  }

  100% {
    filter: brightness(1);
    transform: translateY(0);
  }
}

@keyframes c1 {
  0% {
    filter: brightness(1);
    transform: translateY(0);
  }

  20% {
    filter: brightness(1);
    transform: translateY(0);
  }

  40% {
    filter: brightness(1);
    transform: translateY(0);
  }

  60% {
    filter: brightness(1);
    transform: translateY(0);
  }

  80% {
    filter: brightness(1);
    transform: translateY(0);
  }

  100% {
    filter: brightness(100);
    transform: translateY(-10px);
  }
} */


/* ローディング画面 
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}

#marukame {
  margin: 0 auto 0 0;
}

#gg {
  display: grid;
  width: 300px;
  margin: 0 auto;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

#nisiki {
  grid-column: 1/2;
  grid-row: 1/2;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #000;
  animation: sansiki 5s infinite;
}

#tumo {
  grid-column: 2/3;
  grid-row: 1/2;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #000;
  animation: sananko 5s infinite;
}

#masu3 {
  grid-column: 3/4;
  grid-row: 1/2;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #000;
  animation: sansiki 5s infinite;
}

#pon {
  grid-column: 1/2;
  grid-row: 2/3;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #000;
  animation: toitoi 5s infinite;
}

#kan {
  grid-column: 2/3;
  grid-row: 2/3;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #000;
  animation: sankantu 5s infinite;
}

#masu6 {
  grid-column: 3/4;
  grid-row: 2/3;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #000;
  animation: sananko 5s infinite;
}

#masu7 {
  grid-column: 1/2;
  grid-row: 3/4;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #000;
  animation: sansiki 5s infinite;
}

#masu8 {
  grid-column: 2/3;
  grid-row: 3/4;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #000;
  animation: sananko 5s infinite;
}

#masu9 {
  grid-column: 3/4;
  grid-row: 3/4;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #000;
  animation: sansiki 5s infinite;
}


@keyframes sansiki {
  0% {
    opacity: 0;
    transform: scale(0)rotate(-45deg);
  }

  25% {
    transform: rotate(90deg)scale(1);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg)scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(270deg)scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg)scale(0);
    opacity: 0;
  }
}

@keyframes sananko {
  0% {
    opacity: 1;
    transform: scale(0)rotate(-45deg);
  }

  25% {
    transform: rotate(90deg)scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(180deg)scale(1);
    opacity: 1;
  }

  75% {
    transform: rotate(270deg)scale(0);
    opacity: 0;
  }

  100% {
    transform: rotate(360deg)scale(1);
    opacity: 1;
  }
}

@keyframes toitoi {
  0% {
    opacity: 1;
    transform: scale(0)rotate(-45deg);
  }

  25% {
    transform: rotate(90deg)scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(180deg)scale(1);
    opacity: 1;
  }

  75% {
    transform: rotate(270deg)scale(0);
    opacity: 0;
  }

  100% {
    transform: rotate(360deg)scale(1);
    opacity: 1;
  }

}

@keyframes sankantu {
  0% {
    opacity: 0;
    transform: scale(0)rotate(-45deg);
  }

  25% {
    transform: rotate(90deg)scale(1);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg)scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(270deg)scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg)scale(0);
    opacity: 0;
  }

}

#siunten {
  font-size: 50px;
  font-weight: bold;
  margin: 100px auto;
}


#l {
  animation: l1 5s infinite linear;
}

#o {
  animation: o1 5s infinite linear;
}

#a {
  animation: a1 5s infinite linear;
}

#d {
  animation: d1 5s infinite linear;
}

#i {
  animation: i1 5s infinite linear;
}

#n {
  animation: n1 5s infinite linear;
}

#g {
  animation: g1 5s infinite linear;
}


@keyframes l1 {
  0% {
    color: #0bd;
    transform: translateY(0);
  }

  15% {
    color: #000;
    transform: translateY(-50px)scale(2);
  }

  40% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes a1 {
  0% {
    filter: brightness(1);
    transform: translateY(0);
  }

  20% {
    filter: brightness(1);
    transform: translateY(0);
  }

  40% {
    filter: brightness(100);
    transform: translateY(-10px);
  }

  60% {
    filter: brightness(1);
    transform: translateY(0);
  }

  80% {
    filter: brightness(1);
    transform: translateY(0);
  }

  100% {
    filter: brightness(1);
    transform: translateY(0);
  }
}

@keyframes d1 {
  0% {
    filter: brightness(1);
    transform: translateY(0);
  }

  20% {
    filter: brightness(1);
    transform: translateY(0);
  }

  40% {
    filter: brightness(1);
    transform: translateY(0);
  }

  60% {
    filter: brightness(100);
    transform: translateY(-10px);
  }

  80% {
    filter: brightness(1);
    transform: translateY(0);
  }

  100% {
    filter: brightness(1);
    transform: translateY(0);
  }
}

@keyframes i1 {
  0% {
    filter: brightness(1);
    transform: translateY(0);
  }

  20% {
    filter: brightness(1);
    transform: translateY(0);
  }

  40% {
    filter: brightness(1);
    transform: translateY(0);
  }

  60% {
    filter: brightness(1);
    transform: translateY(0);
  }

  80% {
    filter: brightness(100);
    transform: translateY(-10px);
  }

  100% {
    filter: brightness(1);
    transform: translateY(0);
  }
}

@keyframes n1 {
  0% {
    filter: brightness(1);
    transform: translateY(0);
  }

  20% {
    filter: brightness(1);
    transform: translateY(0);
  }

  40% {
    filter: brightness(1);
    transform: translateY(0);
  }

  60% {
    filter: brightness(1);
    transform: translateY(0);
  }

  80% {
    filter: brightness(1);
    transform: translateY(0);
  }

  100% {
    filter: brightness(100);
    transform: translateY(-10px);
  }
} */



/* ローディングアニメーション */
.loading {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;

  /* ↓ここ青にしてください↓ */
  background-color: silver;
  /* ↑明るめの青でお願いします↑ */
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* コンテンツ部分の装飾 */
.gallery {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.loaded {
  opacity: 0;
  visibility: hidden;
}


/* メディアクエリ */

@media screen and (min-width:768px) {


  .midasi {
    font-size: clamp(22px, 5vw, 44px);
    width: 70vw;
    height: 5vw;
    margin: 0 auto 0 40px;
    text-align: center;
    padding-top: 3px;
    margin-top: 40px;
    max-width: 560px;
    font-weight: 400;
  }

  .tukuba {
    font-size: 22px;
  }

  .hutozi {
    font-size: 36px;
    text-align: start;
  }

  header {
    background: url(../image/main.png) no-repeat center center/cover;
  }

  header p {
    font-size: 15px;
    position: absolute;
    bottom: 2vw;
    right: 10vw;
    width: 28vw;
  }

  #rog {
    padding-top: 130px;
    max-width: 230px;
    width: 40vw;
    position: relative;
    top: -5vh;
    left: -15vw;
    filter: drop-shadow(10px 5px 0px #000);
  }

  .sabazusi {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 320px 177px;
    grid-auto-flow: row;
    grid-auto-flow: column;

  }

  #riti {
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
    height: 320px;
  }

  #ippatu {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 40px 10px;
    margin: 10px 20px;
    font-size: 20px;
    align-self: center;
  }

  #simesaba {

    display: none;
  }

  #isikawa {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 50px 20px;
    font-size: 20px;
    align-self: center;
  }

  #migiake {
    margin-right: 10px;
  }

  .yoko img {
    height: auto;
    object-position: 0 100%;
    max-width: 600px;
  }



  .jojoen {
    grid-column: 1/2;
    grid-row: 2/3;
    object-fit: cover;
    height: 177px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 49% 2% 49%;
    grid-template-rows: 177px;
  }

  #rokomoko {
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #zitensya {
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .jojoen img {
    object-fit: cover;
    /* max-width: 278px; */
    /* width: 25vw; */
    grid-auto-flow: row;
    grid-auto-flow: column;
  }

  #rokomoko {
    padding-right: 5px;
  }

  .kukakuwake {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 320px 177px;
    grid-auto-flow: row;
    grid-auto-flow: column;

  }

  #mitokondoria {
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
    height: 320px;
  }

  #sinsaibasi {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 40px 10px;
    margin: 10px 20px;
    font-size: 20px;
    align-self: center;
  }

  #miso {
    grid-column: 1/2;
    grid-row: 2/3;
    object-fit: cover;
    height: 177px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 49% 2% 49%;
    grid-template-rows: 177px;
  }

  #sakura1 {
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #sakura2 {
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #naka {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 50px 20px;
    font-size: 20px;
    align-self: center;
  }

  #gazougun {
    display: none;
  }

  #simokitazawa {
    margin-bottom: 40px;
  }

  #asakusa {
    margin-bottom: 100px;
  }

  #rasya {
    font-size: clamp(22px, 5vw, 44px);
    width: 70vw;
    height: 5vw;
    margin: 0 40px 0 auto;
    text-align: center;
    padding-top: 3px;
    margin-top: 40px;
    max-width: 560px;
    font-weight: 400;
  }


  .sankaku {
    line-height: 2;
  }

  .sen {
    width: 40vw;
    background-color: slategrey;
    height: 2px;
  }

  .gourmet p {
    font-size: 20px;
  }

  .tanyao {
    width: 17.5vw;
    line-height: 1.5;
  }

  .image-button {
    /* display: inline-flex; */
    text-align: end;
    display: block;
    border: solid 3px orange;
    /* max-width: 120px; */
    /* width: 100px; */
    margin-left: auto;
    padding: 5px;
    color: #000;
    display: flex;
    width: 17.5vw;
    line-height: 1.5;
    /* height: 63px; */
  }

  .sankaku {
    margin-left: 0px;
    margin-right: 0vw;
}

  #dai1 {
    display: flex;
    margin-top: auto;
  }

  #dai2 {
    display: flex;
  }

  #dai3 {
    display: flex;
  }

  #dai4 {
    display: flex;
  }

  #yotuwari {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 475px 475px;
    gap: 5%;
    margin: 0 100px;
  }

  #sibainu {
    display: flex;
  }

  #tudanuma {
    display: none;
  }

  #namazu {
    display: flex;
  }

  .hasu {
    font-size: 20px;
  }

  #siranami {
    font-size: 20px;
    margin: 140px 40px;
    line-height: 1.5em;
    width: 70vw;
  }

  #pasuta {
    margin: 140px 40px;
    line-height: 1.5em;
    width: 70vw;
  }

  #siba {
    font-size: 36px;
  }

  #kawazu {
    font-size: 36px;
  }

  #pao {
    font-size: 36px;
  }

  #nikumesi {
    font-size: 36px;
  }

  .tanyao {
    margin-top: 50px;

  }

  .healing {
    margin-top: 200px;
  }

  .pinhu {
    padding-top: 51px;
    padding-left: 20px;
  }

  #gurume {
    margin: 0 0 0 auto;
    width: 40vw;
  }

  #sensen {
    margin: 100px auto 100px auto;
  }

  #sen1 {
    margin: 40px 0 40px auto;
  }

  #sen2 {
    margin: 40px 0 40px auto;
  }

  #sen3 {
    margin: 40px auto 40px 2vw;
  }

  #sen4 {
    margin: 40px auto 40px 2vw;
  }

  #haba70 {
    text-align: start;
    width: 40vw;
    margin: 0 auto 0 2vw;
  }

  #renka {
    font-size: 36px;
    font-weight: bold;
    margin: 50px 0;
  }



}


@media screen and (max-width:767px) {
  .jojoen {
    display: none;
  }

  #miso {
    display: none;
  }

  #namazu {
    display: none;
  }

  #gurume {
    width: 70vw;
    margin: 30px auto;
  }

  .flex {
    display: block;
  }

  .f_nav {
    margin: 0 auto;
    text-align: start;
  }

  .f_img {
    margin: 20px auto;
  }

  .sns_logo {
    width: 70%;
    display: flex;
    margin: 10px auto;
    justify-content: space-around;
  }



}


/* ロードローラー */


/* ロード画面呼び出しのみにしてアニメーション側で位置や領域を指定することにより自由に配置が可能、その後指定秒数後画面を消去で完成
Zindexなどの画面に作用が少ないものや要素の幅等に作用しないものは呼び出し側でも問題ないが基本的にはアニメーション側があり
*/